@charset "utf-8";
body {
    background-color: #000028;
    margin: 0;
    z-index: 1; /* Make this 1 so that the canvas will be in the background */
}

.welcomeText {
    width: auto;
    text-align: center;  
    font-size: 300%;
    color: white;
}

.portfolioTable table {
    border-spacing: 10px;
    border-collapse: separate;
}

.portfolioTable table tr td {
    border: 10px solid black;
    padding: 0px;
    vertical-align: bottom;
    margin: 0;
    overflow: hidden;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

.bioSummary {
    margin-left: 300px;
    margin-right: 300px;
    text-align: justify;
    font-size: 300%;
    color: white;
}

.JKButton {
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 0.1s ease-in-out; /** Firefox **/
    -o-transition: all 0.1s ease-in-out; /** Opera **/
}

.JKButton:hover {
    transform: scaleX(1.1) scaleY(1.1);
    -webkit-transform: scaleX(1.1) scaleY(1.1); /** Chrome & Safari **/
    -o-transform: scaleX(1.1) scaleY(1.1); /** Opera **/
    -moz-transform: scaleX(1.1) scaleY(1.1); /** Firefox **/
}

.headerTop {
    width: 1000px;
    height: auto;
    position: relative;
    clear: both;
    margin-left: 35%;
    z-index: 1;
}

.JKLogo {
    width: 50%;
    height: 50%;
    position: relative;
    display: inline-block;
    text-align: left;
}

.nav {
    width: 49%;
    height: 50%;
    position: relative;        
    text-align: right;
    display: inline-block;
    margin-top: 20px;
}

.HomepageGame {
/*
    width: 50%;
    position: fixed;
    top: 0;
    left: 0;
*/
}

