@charset "utf-8";
body {
    margin: 0;
    background-color: darkgray;
}

.headerTop {
    width: auto;
    height: auto;
    background-color: white;
    text-align: center;
}

.welcomeText {
    text-align: center;  
    display: inline-block;
    font-size: 300%;
}

.nav ul {
    margin: 0;
    padding: 0;
    padding-top: 22px;
    padding-left: 30px;
}

.nav ul li {
    display: inline;
    list-style-type: none;
    padding-right: 50px;
    margin-left: 10px;
}

.nav ul li a {
    text-decoration: none;
    color: white;
}

.nav {
    font-size: 300%;
    height: 100px;
    width: 400px;
    background-color: #a7e0ee;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border: 1px solid black;
}

table {
    width: 50%;
    margin-right: 500px;
    margin-left: 500px;
}

.bioSummary {
    margin-left: 300px;
    margin-right: 300px;
    text-align: justify;
    font-size: 300%;
}